<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Nishank Gujar Quiz 6</title>
        <style>
            form{
            padding: 1rem 1rem 1rem 1rem;
            margin: 1rem 1rem 1rem 1rem;
            width: 25%;
            height: fit-content;
            justify-content: center;
            }
            
        </style>
    </head>
<body>
<h1 style="text-align: center;">Student ID : 1001861756</h1>
<h1 style="text-align: center;">Name : Nishank Gujar</h1>
<hr>
<br>

<form action="/chat">
        <input type="text" name="username" placeholder="Enter Username">
        <br><br>
        <input type="text" name="room" placeholder="Enter Chatroom ID">        
        <br><br>
        <input type="radio" name="option" id="EVEN" value="EVEN">EVEN</input><br>
        <input type="radio" name="option" id="ODD" value="ODD">ODD</input><br>
        <br><br>
        <input class="btn-primary" style="text-align: center;" type="submit" value="Play">
</form>
    
</body>
</html>
